.headercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.image {
  width: 100px;
  height: 30px;
}



.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.dark-theme .header-container {
  background-color: #212121;
}

.header-logo {
  height: 40px;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.theme-button,
.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #212121;
}

.dark-theme .theme-button,
.dark-theme .logout-button {
  color: #ffffff;
}

.icon {
  font-size: 24px;
}

.logout-popup-content {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logout-popup .popup-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.logout-popup-message {
  font-size: 16px;
  margin-bottom: 20px;
  color: #212121;
}

.logout-popup-buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.popup-cancel-button,
.popup-confirm-button {
  border: none;
  padding: 10px 15
